# CMake build folders. If you make new build folders in a format like
# `build_clang` then it will be ignored by Git.
build/
build_*/

# Misc. development files
.vscode/
*.patch
opengl32.dll
.cache/
compile_commands.json

# Doxygen documentation
doxy/
doxygen-awesome.css

# Model junk files
*.blend1
*.blend2
*.blend3

# Pro tip: Need to ignore any more specific files during development?
# Use your local Git ignore file available at `~/.config/git/ignore`!
