# Common build files
build/
build_ss/
build_32/
build_ucrt/
build_debug/

# Misc. development files
.vscode/
*.patch
local_config.h
opengl32.dll
result/

# Junk files for the old build system
.deps/
.dirstamp
*.o
