name: build

on:
  push:
    paths:
      - 'src/**'
      - 'build-*/**'
      - 'data-*/**'
      - 'packaging/**'
      - 'CMakeLists.txt'
      - '.github/workflows/**.yml'
  pull_request:
    paths:
      - 'src/**'
      - 'build-*/**'
      - 'data-*/**'
      - 'packaging/**'
      - 'CMakeLists.txt'
      - '.github/workflows/**.yml'

jobs:
  linux:
    runs-on: ubuntu-latest
    container:
      image: debian:bullseye
      env: { LANG: "C.UTF-8" }
    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          apt-get update
          apt-get install -y g++ libgtk-3-dev libgl-dev libglew-dev libcurl4-openssl-dev libpng-dev libjpeg-dev libfreetype6-dev libsdl2-dev cmake ninja-build desktop-file-utils ca-certificates wget file --no-install-recommends

      - name: Build
        run: |
          mkdir build
          cd build
          ../packaging/build-appimage.sh

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: Principia-x86_64.AppImage
          path: build/Principia-x86_64.AppImage


  windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          update: true
          release: false
          msystem: UCRT64
          pacboy: >-
            gcc:p
            cmake:p
            ninja:p
            glew:p
            zlib:p
            gtk3:p
            libpng:p
            libjpeg-turbo:p
            SDL2:p
            nsis:p
            7zip:p

      # custom built packages with less dependencies than MSYS' counterparts
      - name: Install external packages
        run: |
         wget https://grejer.voxelmanip.se/msys-pkgs/mingw-w64-ucrt-x86_64-{curl-winssl-8.6.0-2,freetype-2.13.2-1}-any.pkg.tar.zst
         pacman -U --noconfirm *.pkg.tar.zst

      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -G Ninja
          ninja -j4

      - name: Bundle together installer and portable
        run: |
          cd build
          ../packaging/windows_release.sh
          ../packaging/windows_portable.sh

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: principia-setup.exe
          path: build/principia-setup.exe

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: principia-portable.7z
          path: build/principia-portable.7z


  android:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends openjdk-11-jdk-headless

      - name: Build with gradle
        run: |
          cd build-android
          ./gradlew assemblerelease

      - name: Save apk artifact
        uses: actions/upload-artifact@v4
        with:
          name: principia-release-unsigned.apk
          path: build-android/principia/build/outputs/apk/release/principia-release-unsigned.apk
